<%
  colors = @family.theme_colors
%>

<div class="max-w-3xl mx-auto">
  <%= render "shared/back_link", path: family_issues_path(@family), text: "Back to Lists" %>

  <h2 class="text-2xl font-bold mb-6 mt-4" style="color: <%= colors[:primary] %>">Capture an Issue</h2>

  <%= render "form" %>
</div>