<%
  colors = @family.theme_colors
%>

<div class="max-w-3xl mx-auto">
  <%= link_to "â† Back", family_issues_path(@family), 
      class: "text-sm hover:underline mb-4 inline-block",
      style: "color: #{colors[:secondary]};" %>
      
  <h2 class="text-2xl font-bold mb-6" style="color: <%= colors[:primary] %>">Log a New Issue</h2>

  <%= render "form" %>
</div>